body {
    background-color: #24252a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    display: flex;
    width: 800px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.left-panel {
    width: 30%;
    background: linear-gradient(to bottom left, #3a59d1, #7ae2cf);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.left-panel h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.left-panel p {
    font-size: 16px;
    opacity: 0.8;
}

.right-panel {
    width: 70%;
    padding: 40px;
    flex: 1;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-panel p {
    margin-bottom: 20px;
}

.form-group {
    padding: 10px;
    position: relative;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.form-group i {
    color: #24252a;
    margin-right: 10px;
    font-size: 18px;
}

.form-group input {
    color: #24252a;
    border: none;
    background: transparent;
    outline: none;
    padding: 10px 0;
    font-size: 16px;
    color: #2e2e2e;
}

.form-group input::placeholder {
    color: transparent;
}

.form-group label {
    position: absolute;
    left: 35px;
    top: 10px;
    color: #999;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.2s ease;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
    top: -10px;
    left: 35px;
    font-size: 13px;
    color: #24252a;
}

.submit-btn {
    width: 20%;
    padding: 12px;
    background-color: rgb(131, 214, 148);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.3s;
}

.submit-btn:hover {
    background-color: rgb(120, 176, 131);
}

.back-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-bottom-right-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 10;
    transition: width 0.3s ease, background-color 0.3s ease;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.back-container:hover {
    width: 120px;
    /* diperluas saat hover */
    background-color: #f1f1f1;
}

.back-container a {
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    color: #3a59d1;
    width: 100%;
    padding-left: 10px;
}

.back-container i {
    font-size: 18px;
}

.back-container .back-text {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

.back-container:hover .back-text {
    opacity: 1;
}
